* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* Mobile */
p {
  font-size: 20px;
  line-height: 30px;
}

h1 {
  font-size: 32px;
  line-height: 38.4px;
}

h2 {
  font-size: 24px;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

header .max-width-wrapper {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header .max-width-wrapper .intro-chunk {
  max-width: 410px;
  margin-bottom: 64px;
}

header .max-width-wrapper .intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

header .max-width-wrapper .intro-chunk .title {
  margin-bottom: 64px;
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: hsl(0deg, 0%, 60%) solid 8px;
  padding-top: 64px;
  padding-bottom: 64px;
}

main .max-width-wrapper .card {
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: hsl(0deg, 0%, 60%) solid 8px;
  max-width: 800px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

main .max-width-wrapper .card .indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: hsl(45deg, 100%, 40%) solid 8px;
  padding: 16px 24px;
  margin-left: -24px;
}

@media (min-width: 391px) {
  main .max-width-wrapper .card .indented-heading {
    width: max-content;
  }
}

@media (min-width: 801px) {
  main .max-width-wrapper .card .indented-heading {
    margin-left: -32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
